.products
{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin : 20px 0 ;
}

@import url("../utils/productItem/productItem.css")