.categories{
    max-width:720px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.categories form{
    width:250px;
    margin-bottom: 20px;
}
.categories input , button{
    height:35px;
    border:none;

}
.categories button{
    width:70px;
    background: antiquewhite;
    margin-left :5px;
}