.product_card{
    background-color: rgb(40, 209, 77);
    border-radius: 7px;
    max-width:300px;
    overflow :hidden ;
    height: 400px;
    padding:15px;
    box-shadow : 0 0 15px rgb(102, 24, 197) ;
    margin :10px 0 ;
    position : relative ;
}
.product_card img{
    width: 200px;
    height:200px;
    object-fit: fill;
}
.product_card input{
    position: absolute;
    width:25px;
    height:25px;
}