header{
    min-height: 70px;
    width:100%;
    display : flex ;
    flex-wrap : wrap ;
    justify-content : space-around ;
    align-items : center;
    border-bottom: 1px solid ;
}
header .menu{
    display: none;
}

header a{
    text-transform: uppercase;
}

header ul li{
    display: inline-block;
    padding: 0 20px;
    opacity: 0.5;
}
header ul li:hover{
    opacity : 1 ;
}
.cart-icon{
    position: relative;
    margin-right: 20px;
}

.cart-icon span {
    position: absolute;
    top : -10px;
    right :-10px ;
    font-size: 10px;
    padding: 0 5px;
    color: rgb(214, 53, 80);
    background-color: rgb(190, 29, 56);

}